# Normalize line endings to LF in the repo
* text=auto eol=lf

# Shell scripts must have LF
*.sh text eol=lf

# Binary files
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text
*.woff2 binary
